body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom right, #e6f7ff, #b3e0ff); /* Градиентный фон */
}

h2 {
    text-align: center;
    color: #003366;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Тень для заголовка */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Глубокая тень */
    transition: transform 0.3s; /* Плавный переход для эффекта */
}

    form:hover {
        transform: scale(1.02); /* Увеличение при наведении */
    }

label {
    display: block;
    margin: 10px 0 5px;
    color: #003366;
    font-weight: bold; /* Жирный шрифт для меток */
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #99ccff;
    border-radius: 4px;
    transition: border-color 0.3s; /* Плавный переход для рамки */
}

    input[type="text"]:focus, select:focus {
        border-color: #007bff; /* Голубая рамка при фокусе */
        outline: none; /* Убираем стандартный контур */
    }

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход для фона и эффекта нажатия */
}

    button:hover {
        background-color: #0056b3;
        transform: translateY(-2px); /* Подъем кнопки при наведении */
    }

    button:active {
        transform: translateY(0); /* Вернуть кнопку на место при нажатии */
    }

#result, #regexResult {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s; /* Плавный переход для фона */
}

    #result:hover, #regexResult:hover {
        background-color: #f9f9f9; /* Светлый фон при наведении */
    }
